.commentList {
  position: relative;
  top: 91px;
  width: 100%;
  background: white;
  margin-bottom: 40px;
  transition: all 0.5s ease; }
  .commentList .author {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto; }
    .commentList .author .commenttext {
      color: #847F7F;
      font-size: 13px;
      margin-left: 45px;
      margin-top: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid #EDE4E4; }
    .commentList .author .icons-like {
      display: block;
      float: right;
      width: 24px;
      height: 25px;
      background: url("../images/icons-zan.svg") no-repeat;
      background-size: 18px auto;
      cursor: pointer; }
    .commentList .author .authorComment {
      display: inline-block;
      margin-left: 5px; }
      .commentList .author .authorComment span {
        display: block;
        font-size: 15px;
        color: #A29191;
        vertical-align: middle; }
      .commentList .author .authorComment .commenttime {
        color: #A29191;
        font-size: 14px;
        -webkit-transform-origin-x: 0;
        -webkit-transform: scale(0.6);
        vertical-align: middle; }
    .commentList .author .authorPhoto {
      width: 40px;
      display: inline-block; }
      .commentList .author .authorPhoto img {
        width: 100%;
        border-radius: 50px; }

.example-enter {
  opacity: 0.01; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.example-leave {
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }
