
.components-header{
  position:relative;
  color:#E46F6F;
  box-sizing:border-box;
  padding: 15px 25px ;
  border-bottom:1px solid #FEE4E4;
  background:-webkit-linear-gradient(right,#FFF6F6,#FFFFFF);
  
  text-align:center;
  position:fixed;
  width:100%;
  z-index:200;
  top:0;
  .caption{
    width:100%;
    font-size:20px;
    text-indent:20px;
    margin-left:-9px;
  }

}
.icons-list{
  width:30px;
 }
