$width:200px;
$height:200px;
.musicCover{
	    width:$width;
    	height:$height;
        margin:0 auto;
        border:1px solid red;
        border-radius:150px;
        position:absolute;
        top:50%;
        left:50%;
        background:#0B0A0A;
        animation:move infinite 20s linear;
        margin-left:-$width/2;
        margin-top:-$height/2-40;
        div{
	       	width:120px;
	       	height:120px;
	       	margin:0 auto;
	        border-radius:150px;
	        position:absolute;
	        top:50%;
	        left:50%;
	        transform:translate(-50%,-50%);
		img{
		      width:100%;
		      height:100%;
		      border-radius:150px;
		}	
	}
}
@keyframes move{
	from {transform:rotate(0deg)}
	to {transform:rotate(360deg)}
}
.volumeControl{
	width:20%;
	position:absolute;
	top:130px;
    left:50%;
    transform:translateX(-50%);
    padding:10px;
	.icons-sound{
	      width:25px;
	      height:25px;
	      background: url('../images/icons-sound.svg') no-repeat;
	      background-size: 22px auto;
	      cursor:pointer;
          position:absolute;
          left:0;
          margin-left:-20px;
          margin-top:-10px;
	}

	.musicvolume{
	   width:100%;
	   display:block;


	}

}
.icons-all{
	position:absolute;
	width:200px;
	top:65%;
	left:50%;
	
	transform:translate(-50%,0);
}
.icons-comment{
	display:inline-block;
	  width:30px;
      height:30px;
      background: url('../images/icons-comment.svg') no-repeat;
      background-size: 30px auto;
      cursor:pointer;
      float:left;
      transition:all 0.2s ease;

}

.icons-static{
	display:inline-block;
	width:30px;
	height:30px;
	cursor:pointer;
	margin-left:55px;
    transition:all 0.2s ease;
}
.icons-greeted{
	background: url('../images/icons-greeted.svg') no-repeat;
	background-size: 30px auto;
}
.icons-greet{
	background: url('../images/icons-greet.svg') no-repeat;
	background-size: 30px auto;
}
.icons-download{
	display:inline-block;
	width:30px;
	height:30px;
	background: url('../images/icons-download.svg') no-repeat;
	background-size: 30px auto;
	cursor:pointer;
	float:right;
    transition:all 0.2s ease;
}
@media screen and (max-width:320px){
  .icons-all{
  	top:60%;
  }
 .volumeControl{top:22%}
	.musicCover{
		width:$width*0.7;
		height:$height*0.7;
		margin-left:-$width*0.7/2;
        margin-top:-$width*0.7/2-40;

        div{
	       	width:$width*0.5;
	       	height:$height*0.5;
	       	margin:0 auto;
	        border-radius:150px;
	        position:absolute;
	        top:50%;
	        left:50%;
	        transform:translate(-50%,-50%);
		img{
		      width:100%;
		      height:100%;
		      border-radius:150px;
		}}
	}
}

