body {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
  box-sizing: border-box;
  background:-webkit-linear-gradient(right,#FBEBEB,#FFFBFB);
  -webkit-font-smoothing: subpixel-antialiased;
}
a{
outline:none;
}


